<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms timeout="120"/>
		</authentication>
		<sessionState timeout="120"  />		
		<customErrors mode="On" defaultRedirect="https://qstudyabroad.com/ErrorPage/index.html" />
	</system.web>
	
	
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
  <connectionStrings>
    <!--shared-->
   <!-- <add name="conn" connectionString="Data Source=205.147.96.31;Initial Catalog=qstudyabroad_db; user id=qstudy;password=Qstudy@2021;MultipleActiveResultSets=True; Max Pool Size=1000;Connect Timeout=500;"/>-->
    <!--vps-->
    <add name="conn" connectionString="Data Source=103.20.215.14,1433;Initial Catalog=qstudyabroad_dbvps; user id=vpsqstudy;password=vpsQstudy@2021;MultipleActiveResultSets=True; Max Pool Size=1000;Connect Timeout=500;" />
  </connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
  <system.web>
    <httpRuntime maxRequestLength="51200" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
	  <!---<customErrors mode="Off"/>
	  <compilation debug="true" targetFramework="4.0" />-->
	  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false"/>
          <conditions>
            <add input="{HTTPS}" pattern="off"/>
          </conditions>
          <action type="Redirect" url="https://www.qstudyabroad.com/{R:1}" appendQueryString="true" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="qslanding.aspx" />
                <add value="registration.aspx" />
                <add value="default.aspx" />
                <add value="index.aspx" />
                <add value="index.asp" />
                <add value="default.html" />
                <add value="default.php" />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>