


.box {
    width: 300px;
    height: 450px;
    box-shadow: 0px 1px 5px #ddd;
    position: absolute;
    margin-top: -35%;
    margin-left: 76%;   
    background: #f6f6f6;
    z-index: 20;
    border-radius: 15px;
    display: none;
}

header.chat-header {
    display: flex;
    padding: 10px 15px;
}

a {
    text-decoration: none;
}

.chat-logo img {
    width: 50px;
    margin-top: 0px;
}

.chat-close a {
    border-radius: 50px;
    font-size: 22px;
    line-height: 29px;
    font-weight: 600;
    /* box-shadow: 0px 2px 5px #ddd; */
    color: #1f3767;
    /* background: #fff; */
    text-decoration: none;
}

.chat-body ul li {
    list-style-type: none;
    margin-bottom: 15px;
}
.box1 ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

.chat-body {
    padding: 10px 15px;
    height: 70vh;
    background: #fff;
    overflow-y:scroll;
    display:flex;
    flex-direction:column-reverse;
}

.chat-img img {
    width: 40px;
    border-radius: 50px;
}

li.bot-chat {
    display: flex;
    justify-content: space-between;
    float: left;
}

li.user-chat {
    display: flex;
    justify-content: space-between;
    float: right;
}

.chat-img {
    padding-top: 0px;
    width:12%;
    text-align:center;
}

.bot-content p, .user-content p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    padding-top:5px;
    line-height: 20px;
}

.chat-body ul li {
    list-style-type: none;
    margin-bottom: 15px;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 2px #ddd;
}

.user-content {
    text-align: right;
}

.box-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}

.form-control:focus {
    box-shadow: none !important;
}

.chat-button {
    position: absolute;
    right: 2%;
    margin-top: -7%;
    z-index: 20;
}

a.button-chat img {
    width: 55px;
    border-radius: 50px;
    padding-top: 10px;
}

input.form-control {
    border-bottom-left-radius: 10px;
}

button.btn.btn-primary {
    border-bottom-right-radius: 10px;
}

.chat-button {
    border: 0;
    border-radius: 50px;
    height: 55px;
    width: 55px;
    background: whitesmoke;
    box-shadow: 0px 2px 15px #ddd;
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}

@media screen and (max-width: 1200px) {

    .box {  
        margin-top: -42%;
        margin-left: 70%;
    }
}

@media screen and (min-width: 1200px) and (max-width:1300px) {
    .box {
        margin-top: -37%;
        margin-left: 61%;
    }
}

@media screen and (min-width: 1000px) and (max-width:1030px) {
    .box {
        margin-top: -45%;
        margin-left: 68%;
    }
}

    @media screen and (max-width: 999px) {
        .box {
            margin-top: -50%;
            margin-left: 64%;
        }
    }

    @media screen and (max-width: 767px) {
        .chat-button {
            position: absolute;
            right: 10px;
            margin-top: -24%;
        }

        .box {
            margin-left: 10%;
            margin-top: -130%;
        }
        .box1 .col-md-8.pr-lg-0 {
            height: 85vh;
            margin-bottom: 30px;
        }
        .box-footer.ml-lg-3 {
            margin-left: 15px;
            width:95%;
        }
        button.btn.btn-primary.mr-lg-3 {
            margin-right: 12px;
        }
        .chat-img {
            width: 26%;
            padding-top: 10px;
            text-align:center;
        }
    }

    @media screen and (min-width: 400px) and (max-width:500px) {
        .box {
            margin-left: 20%;
            margin-top: -115%;
        }
    }

/*    Bot main page css*/

.box1 {
    width: 100%; 
    height:85vh;
    box-shadow: 0px 1px 5px #ddd;
    position: relative;
  /*  margin-top: -35%;
    margin-left: 76%;*/
    background: #fff;
    z-index: 20;
    border-radius: 15px;
    
}
.header-bot1{
    background:#f6f6f6;
    padding:10px;
    border-top-left-radius:10px;
}
.header-bot2 {
    background: #f6f6f6;
    padding: 10px;
    border-top-right-radius:10px;
}
input.form-control {
    height: 40px;
}
.body-bot {
    padding: 15px;
    background: #fafafa;
    height: 77vh;
}
.box1 ul li {
    list-style-type: none;
    margin-bottom: 15px;
}

li.std_name {
    box-shadow: 1px 3px 3px #1be048;
    border-radius: 20px;
    padding: 8px 0;
}

.std_active {
    /*background-color: #c4d6ff;*/
    background-color: #578afe;
}
li.std_name a {
    color: #333;
}
.bg-online{
    color:#fff !important;
}
.std-offline {
    /*  border-color: red;
    border-width: 2px;
    border-style: solid;*/
    box-shadow: 1px 3px 3px #ff0019 !important;
}
