

@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text:400,700&display=swap');
.menu-container {
    display: flex;
    align-items: flex-end;
    position: absolute;
    margin-top: -23%;
    float: left;
}
.hamburger-icon {
    position: absolute;
    z-index: 1;
    /*    top: 42vh;
*/ left: 1vw;
    padding-bottom: 2vh;   
    top: -50px;
}
.lblhamburger {
  /*  background-color: #e4dedbbf;
    border-radius: 50%;*/
    width: 0vw;
    padding: 17%;
}
    .lblhamburger:hover {
        cursor: pointer;
    }
.hamburger-icon span {
    height: 7px;
    width: 3vw;
    background-color: #bec0c4;
    display: block;
    margin: 2px 0px 2px 0px;
    transition: 0.7s ease-in-out;
    transform: none;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

#openmenu:checked ~ .menu-pane {
    left: -5vw;
    transform: translateX(-5vw);
}

#openmenu:checked ~ .body-text {
    display: none;
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(2) {
    /* transform: translate(0%, 175%) rotate(-45deg);*/
    background-color: #767171;
    /* margin: 0px 0px 7px 0px;
    height:10px;*/
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(3) {
    /* transform: rotate(45deg);*/
    background-color: #767171;
    /* margin: 0px 0px 7px 0px;
    height: 10px;*/
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(1) {
    background-color: #767171;
    /* opacity: 0;*/
    /* margin-top:5px;*/
}

#openmenu:checked ~ .hamburger-icon span:nth-of-type(4) {
    background-color: #767171;
    /* opacity: 0;*/
}
#openmenu:checked ~ .hamburger-icon label {
    background-color: transparent;
}
div.menu-pane {
    background-color: #dee2e6d9;
    /*    position: absolute;
*/ transform: translateX(-105vw);
    transform-origin: (0,0);
    width: 15vw;
/*    height: calc(100vh - 44vh);
*/    transition: 0.6s ease-in-out;
    border-radius: 5%;
    /*    margin-top: 41vh;*/
/*    margin-top: -62vh;
*/    margin-left: -4vw;
}

.menu-pane p {
    color: black;
    font-size: 0.6em;
}

.menu-pane nav {
    padding: 0%;
    margin-left: 65%;
     margin-top: 0;
}

.menu-links li, a, span {
    transition: 0.5s ease-in-out;
}

.menu-pane ul {
    padding: 5%;
    display: inline-block;
    margin-top: 10%;
    margin-left: 15%;
}

.menu-pane li {
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 10px;
            font-size: 1em;*/
    list-style: none;
    font-weight: bold !important;
    font-size: .82em !important;
}



.menu-links li a {
    color: black;
    text-decoration: none;
}

    .menu-links li a img {
        width: 70%;
    }

.menu-links li:hover {
    color: #FFAB91;
    transform: scale(1.2);
    /* background-color: #fefefe;*/
    border-radius: 10px;
    font-size: 11px !important;
    cursor: pointer;
}
.active {
   /* color: #FFAB91;
    transform: scale(1);*/
    background-color: #fefefe;
    border-radius: 10px;
    font-size: 11px !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
    font-weight: bold !important;
    font-size: 11px !important;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: .5em;
    left: 100%;
    padding: 4px 4px 4px 4px;
    color: #444141;
    white-space: nowrap;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 4px #666;
    -webkit-box-shadow: 0px 0px 4px #666;
    box-shadow: 0px 0px 4px #666;
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0eded), color-stop(1, #bfbdbd));
    background-image: -webkit-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -moz-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -ms-linear-gradient(top, #f0eded, #bfbdbd);
    background-image: -o-linear-gradient(top, #f0eded, #bfbdbd);
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    font-weight: bold !important;
    font-size: 11px !important;
}

[data-title] {
    position: relative;
    font-weight: bold !important;
    font-size: 11px !important;
}



input.hamburger-checkbox {
    position: absolute;
    z-index: 3;
    top: 0vh;
    left: 1vw;
    width: 2vw;
    opacity: 0;
    height: 6vh;
}

/*media css start here*/
@media screen and (max-width:667px) {
    .menu-container {
        display: flex;
        align-items: flex-start;
        position: absolute;
        margin-top: -95%;
    }

    #openmenu:checked ~ .menu-pane {
        left: -6vw;
        transform: translateX(-6vw);
    }

    .lblhamburger {
      /*  background-color: #e4dedbbf;
        border-radius: 50%;*/
        width: 12vw;
        padding: 10%;

    }
    .hamburger-icon {
        position: absolute;
        z-index: 1;
        padding-bottom: 2vh;
        left: 0vw;
    }

        .hamburger-icon span {
            width: 9vw;
        }

    div.menu-pane {
        background-color: #dee2e6d9;
        position: absolute;
        transform: translateX(-105vw);
        transform-origin: (0,0);
        width: 24vw;
        transition: 0.6s ease-in-out;
        border-radius: 5%;
        margin-left: 0vh;
    }

    .menu-pane nav {
        padding: 0%;
        margin-left: 45%;
        margin-right: 5%;
        margin-top: 0%;
    }
    .menu-pane ul {
        padding: 5%;
        display: inline-block;
        margin-top: 20%;
        margin-left: 15%;
    }

   

    .menu-links li a img {
        width: 100%;
    }
}
@media only screen and (min-device-width: 668px) and (max-device-width: 1024px){
    .menu-container {
        display: flex;
        align-items: flex-start;
        position: absolute;
        margin-top: -95%;
    }

    #openmenu:checked ~ .menu-pane {
        left: -6vw;
        transform: translateX(-6vw);
    }
    .hamburger-icon span {
        width: 9vw;
    }
    .lblhamburger {
      /*  background-color: #e4dedbbf;
        border-radius: 50%;*/
        width: 12vw;
        padding: 10%;
    }

    .hamburger-icon {
        position: absolute;
        z-index: 1;
        padding-bottom: 2vh;
        left: 0vw;
    }

      

    div.menu-pane {
        background-color: #dee2e6d9;
        position: absolute;
        transform: translateX(-105vw);
        transform-origin: (0,0);
        width: 24vw;
        transition: 0.6s ease-in-out;
        border-radius: 5%;
        margin-left: 0vh;
    }

    .menu-pane nav {
        padding: 0%;
        margin-left: 45%;
        margin-right: 5%;
        margin-top: 0%;
    }

    .menu-pane ul {
        padding: 5%;
        display: inline-block;
        margin-top: 20%;
        margin-left: 15%;
    }



    .menu-links li a img {
        width: 80%;
    }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {

    .menu-container {
        display: flex;
        align-items: flex-start;
        position: absolute;
        margin-top: -40%;
    }

    .hamburger-icon {
        position: absolute;
        z-index: 1;
        top: -50px;
        left: 1vw;
        padding-bottom: 2vh;
    }

    .lblhamburger {
       /* background-color: #e4dedbbf;
        border-radius: 50%;*/
        width: 0vw;
        padding: 17%;
    }
 
    .hamburger-icon span {
        height: 6px;
        width: 5vw;
       /* margin: 1px 0px 1px 0px;*/
    }
 

    #openmenu:checked ~ .menu-pane {
        left: -5vw;
        transform: translateX(-5vw);
    }
    div.menu-pane {
        background-color: #dee2e6d9; 
        transform: translateX(-105vw);
        transform-origin: (0,0);
        width: 15vw;
        transition: 0.6s ease-in-out;
        border-radius: 5%;
         margin-left: 2vw;
    }

    .menu-pane p {
        color: black;
        font-size: 0.6em;
    }

    .menu-pane nav {
        padding: 0%;
        margin-left: 50%;
        margin-right: -5%;
        margin-top: 0%;
    }

    .menu-links li, a, span {
        transition: 0.5s ease-in-out;
    }

    .menu-pane ul {
        padding: 5%;
        display: inline-block;
        margin-top: 10%;
        margin-left: 15%;
    }

    .menu-pane li {
        margin-top: 5px;
        margin-bottom: 5px;
        /* margin-left: 10px;
            font-size: 1em;*/
        list-style: none;
        font-size: .8em;
    }



    .menu-links li a {
        color: black;
        text-decoration: none;
    }

        .menu-links li a img {
            width: 70%;
        }

    .menu-links li:hover {
        color: #FFAB91;
        transform: scale(1.2);
        background-color: #fefefe;
        border-radius: 10px;
    }

     
    }
