<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--shared-->
   <!-- <add name="conn" connectionString="Data Source=205.147.96.31;Initial Catalog=qstudyabroad_db; user id=qstudy;password=Qstudy@2021;MultipleActiveResultSets=True; Max Pool Size=1000;Connect Timeout=500;"/>-->
    <!--vps-->
    <add name="conn" connectionString="Data Source=103.20.215.14,1433;Initial Catalog=qstudyabroad_dbvps; user id=vpsqstudy;password=vpsQstudy@2021;MultipleActiveResultSets=True; Max Pool Size=1000;Connect Timeout=500;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="registration.aspx" />
        <add value="default.aspx" />
        <add value="index.aspx" />
        <add value="index.asp" />
        <add value="default.html" />
        <add value="default.php" />
        <add value="index.php" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>