body{
    margin: 0;
    padding: 0;
    font-family: 'Pragati Narrow', sans-serif;
}
img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
 /*header css start her*/
 .regis_section{
    margin-top: -20px;
 }
 .main_header{
    position: relative;
    background-color: #f24407;
    border-radius: 0 0 25px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
   z-index: 99;
 }

 .main_header .main_header_right{
    background-color:#003F88;
    padding: 15px;
    padding-left: 85px;
    position: relative;
    transition: width 1s ease;
    width: 390px;
 }
  .main_header.step2 .main_header_right{
    width: calc(100% - 280px);
 }
 .main_header .main_header_right::before{
    content: '';
    position: absolute;
    left: -115px;
    top: 13px;
    bottom: 0;
    background-color: #f34507;
    width: 180px;
    transform: scale(1.25) rotate(-125deg);
}

 .main_header .main_header_left{
    padding: 15px;
 }
.logo{
    width: 280px;
    display: block;
    position: absolute;
    z-index: 99;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.main_header_right h3{
    font-size: 20px;
}
.main_header_right p{
    font-size: 14px;
}
.main_header_right h3, p{
    color: #ffffff;
    text-align: right;
    margin: 0;
    text-transform: capitalize;
}
 /*header css end her*/

 /*login css start her*/
.bg_login{
    background: url(../img/bg_form.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
    transition: all 5000ms ease;
}
.bg_login.active{
    transform: scale(5);
}
.mform{
    position: absolute;
    padding: 30px;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%,-50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: 0.9;
}
.radio_buttons span{
    color: #003F88;
    font-weight: 600;
    margin-right: 40px;
    vertical-align: super;
    padding-left: 10px;
}
.mform h2{
    font-size: 36px;
    color:#003F88;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.mform .form-control{
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 0px #003F88;
   
}
.regis_form .form-control{
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 0px #003F88;  
}
.regis_form h2{
    text-align: center;
    color: #003F88;
    font-weight: 600;
}

.slect_item{
    border: 0;
    box-shadow: 0 1px 0px #003F88;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    -webkit-appearance: none;
    position: relative;
}
.hhh{
    position: relative;
}
.select_box:after{
    content: "";
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -5px;
    border-top: 8px solid #003F88;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.mform,.regis_form label{
    text-transform: capitalize;
    color:#003F88;
    font-size: 18px;
    font-weight: 600;

}
.regis_form label{
    margin-bottom: 0;
    margin-top: 10px;
    }
.regis_form input{
    height: 25px;
}

.mform .btn{
    background-color:#003F88!important;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
   
}
.regis_form .btnblue{
    background-color:#003F88!important;
    color: white;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
     transition: all .5s ease;
}
.btnblue:hover{
    background-color:#f34507!important;
}
.back_button{
   background-color: transparent;
   width: 100%;
    color: #003F88;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    box-shadow: 0px 0px 3px #003f88;
}
.mendet{
    color: #003F88;
    font-size: 8px;

}
.mform .btn .log_text{
     padding-left: 5px;
    vertical-align: text-top;
}
.mform .btn::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 15px;
    content: "\f023";
    padding-left: 5px;
    vertical-align: text-top;
  }
  .regis_form{
    padding: 30px 80px;
    box-sizing: border-box;
  }
  .registration_btn{
    text-decoration: none!important;
  }
  .back_bt
  {
    background-color: #ffffff!important;
    color: black;
    border: 2px solid red;
  }
 /*slider css start her*/
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .regis_slider .carousel-item{
    height: 560px;

  }
  .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
  .carousel-indicators .active{
    background-color: #003F88;
  }
/*thank you start here*/


.thaks_page{
    background: url(../img/bg_form.png) no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.overlay {
    position: absolute;
    width: 100%;
    background-color: #003F88;
    z-index: 200;
    height: 100%;
    opacity: 0.7;
}
.overlay .overlayinbox{
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.overlayinbox h1{
    font-size: 115px;
    color: #ffffff;
   font-family: auto;
   font-weight: 600;
}
.overlayinbox p{
    font-size:24px;
    text-align: center;
}
.overlayinbox h1::first-letter {
  font-size: 100%;
  color: #f24407;
  margin: 0;
  padding: 0;
}
.overlayinbox i{
    font-size: 140px;
    color: #ffffff;
    border: 7px solid;
    border-radius: 50%;
    padding: 15px;
}
  /*media css start her*/
  @media only screen and (max-width: 992px) {
    .mform{ 
      width: 60%;
    }
 .regis_form{
    padding: 20px 0px;
    box-sizing: border-box;
  }
  .mform, .regis_form label{
    font-size: 14px;
  }
  .overlay .overlayinbox{
    width: 90%;
  }
  .overlayinbox h1{font-size: 60px;}

  }

    @media only screen and (max-width: 776px) {
         .mform, .regis_form label{
    font-size: 12px;
  }
    }
