@import url('./all.css');
html, body {
  margin: 0;
  padding: 0;
    font-family: 'Pragati Narrow', sans-serif;
}
.img_bg{
  background-image: url(../img/unimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.img_bg1{
  background-image: url(../img/ui2img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
}
.img_bg3{
  background-image: url(../img/ui3img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center top;
}
.popup_massege{
    position: absolute;
    left: 41%;
    top: 49%;
    transform: translate(-45% -40%);
}
.popup_massege p{
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    padding: 15px;
        margin: 10px 0;
}
.popup_massege a{  
   display: block;
    color: #ffffff;
    background-color: darkblue;
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px auto;
}
.welcome_text_box{
    position: absolute;
    left: 30%;
    top: 60%;
    transform: translate(-60% -30%);
    text-align: center;
    overflow: hidden;
}
.welcome_text_box p{
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin: 8px 0;
}
section #services {
  
    width: 60px;
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    list-style: none;
    padding: 0;
}
section #services li {
  width: 60px;
  height: 60px;
  list-style: none;
}
section #services li div {
  width: 60px;
  height: 60px;
  font-size: 1.5em;
  text-align: center;
  line-height: 60px;
  transition: all 0.5s ease;
}
section #services li a {
  color: #77cc6d;
}
section #services li i{
  text-shadow: 2px 2px black;
}

section #services li div:hover {
 /* transform: rotate(360deg);*/
 transform: scale(1.6);
  border-radius: 100px;
}
section #services li .chat a i{
   color:#006AFF;
}
section #services li .reception a i{
   color: #f7f700;
}
section #services li .help a i{
   color: lightgreen;
}
section #services li .expo a i{
   color: orange;
}
section #services li .contact a i{
   color: #eb4034;
}
section #services li .logout a i{
   color: #f7f700;
}
.mform{
    position: absolute;
    padding: 0 30px 15px;
    bottom: 10%;
    left: 57%;
    width: 15%;
    transform: translate(-57%,-10%);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:#ffffff;
    opacity: 0.8;
}
.branding img{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.radio_buttons span{
    color: #003F88;
    font-weight: 600;
    margin-right: 40px;
    vertical-align: super;
    padding-left: 10px;
}
.mform h2{
    font-size:16px;
    color:darkblue;
    text-align: center;
    text-transform: capitalize;
    font-weight:bold;
}
.mform .form-control{
    margin-bottom: 10px;
    border: 0;
    box-shadow: 0 1px 0px #003F88;
   
}
.mform .btn{
    background-color:#003F88!important;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    width: 200px;
    border-radius: 30px;
    border: none;
    margin: 5px auto;
    padding: 2px!important;
   
}
/*animation css start*/
 .slide1 {
  -webkit-animation : slideIn 2s forwards;
  -moz-animation    : slideIn 2s forwards;
  animation         : slideIn 2s forwards;
  }
.slide2 {
  animation-delay: s;
  -webkit-animation : slideIn 10s forwards;
  -moz-animation    : slideIn 10s forwards;
  animation         : slideIn 10s forwards;
} 
.slide3 {
  animation-delay: s;
  -webkit-animation : slideIn 26s forwards;
  -moz-animation    : slideIn 26s forwards;
  animation         : slideIn 26s forwards;
} 
@-webkit-keyframes slideIn {
  0%   { transform: translateX(-900px); }
  100% { transform: translateX(0);      }
}
@-moz-keyframes slideIn {
  0%   { transform: translateX(-900px); }
  100% { transform: translateX(0);      }
}
@keyframes slideIn {
  0%   { transform: translateX(-900px); }
  100% { transform: translateX(0);      }
}
