@import url('./all.css');
@import url('./owl.carousel.min.css');
@import url('./owl.theme.green.css');
body{
    margin: 0;
    padding: 0;
    font-family: 'Pragati Narrow', sans-serif;
}

img{
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
/*header css start here*/
.main-header {
    height: 100px;
    line-height: 70px;
    position: fixed;
    z-index: 999;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    display:flex;
    width: 100%;
}
.logo{
	width: 300px;
	height: 90px;
    display: -webkit-flex;
    -webkit-align-items: center;
    padding: 0 1rem;
    background-color: transparent;
    transition: all .2s ease;
}
.logo img{
	width:170px;
	height: 95px;
}
.main-header .nav{
	width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: all .2s ease;

}
.nav-right{
	display: flex;
	margin-left: auto;
	padding: 0 20;
}
.navright_menu{
	height: 70px;
	display: flex;
	margin-right: 30px;
}
.navright_menu .login_icon{
	display: inline;
    list-style: none;
    font-size: 19px;
    font-weight: 600;
    padding: 0 10px;
    margin-bottom: 0;
    line-height: 100px;
}
.navright_menu .login_icon a{
	text-decoration: none;
	color: #1b1742;
}
.navright_menu .login_icon a i{
	margin-left: 5px;
}
.side_menu_wrapper{
	position: fixed;
	overflow: hidden;
	width:200px;
	padding-top: 30px;
	height:calc(100vh - 100px);
	box-shadow: 0 1px 4px -1px rgb(0 0 0 / 60%);
}
.page_wrapper{
	display: flex;
	flex-direction:row;
	margin-top: 100px;
}
.all_pages_wrapper{
	flex: 1;
	margin-left: 200px;
}
.all_pages_wrappere{
    flex: 1;
    margin:100px 0 0 0;
}
.side_menu_wrapper ul{
	padding: 0;
}
.side_menu_wrapper ul li{
	list-style: none;
	white-space: nowrap;
	padding: 10px 10px 10px 15px;
    text-align: left;
    font-size: 18px;
    font-family: serif;
    text-transform: capitalize;
    border-bottom: 1px solid beige;
     transition: all .2s ease;
}
.side_menu_wrapper ul li:hover{
	background-color: #d7d7f7;
	border-right: 3px solid #7e7efc;
	box-sizing: border-box;
}

.side_menu_wrapper ul li a{
	color: #455560;
	text-decoration: none;
}
.side_menu_wrapper ul li a i{
	margin-right: 10px;
}
.side_menu_wrapper ul li:last-child{
	border-bottom: none;
}
.closeleft_btn{
	position: absolute;
    top: 0;
    right:0px;
    font-size: 30px!important;
    cursor: pointer;
}
.side_menu_wrapper ul li.active{
    background-color: #d7d7f7;
    border-right: 3px solid #7e7efc;
    box-sizing: border-box;
}
/*login page css start here*/
.all_pages_wrappere .login-page{
	 background-image: url("../img/library.jpg");
	 height:calc(100vh - 100px);
}
.bg_layer{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height:calc(100vh - 100px);
}
.mform{
	width: 400px;
	padding: 30px;
	box-sizing: border-box;
	margin: 0px auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.branding {
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto 20px;
}
.mform h2 {
  font-size: 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
}
.forgot{
	color: #ffffff;
}
.mform .btn {
    text-transform: uppercase;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    width: 200px;
    border-radius: 30px;
    margin: 20px auto;
}
.mform .form-control {
    margin-bottom: 25px;
    border: 0;
    border-radius: 0px 20px 0 20px;
    box-shadow: 0 1px 0px #003f88;
}
.registration_btn {
    text-decoration: none!important;
}
/*about page css start here*/
.aboutus,.aploadphoto,.aploadbrochar,.aploadvideo{
	width: 200px;
	
}
.upload{
	border-right: 1px solid lightgray;
	padding-top: 20px;
}
.upload h2{
	font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    color: darkblue;
}
.upload input{
	margin-bottom: 15px;
}
.upload button{
	margin: 30px auto;
	width: 200px;
	color: #ffffff;
}
.btn-succes{
	background-color: #666eff;
	font-weight: bold;
	color: #ffffff;
	text-transform:capitalize;
	letter-spacing: 2px;
}
.btn-succes:hover{
	background-color: #3e48fa;
}
/*management page css strat here*/
.rowse{
	width: 80%;
	margin: 20px auto;
}
.management .mform .form-control{
	border-radius: 0;
}
.manag_label{
	text-transform: capitalize !important;
    font-size: 18px;
    font-weight: 600;
    color: darkgreen;
    line-height: 0px;
	}
/*tabel*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.tabel_wrapper a{
	background-color: green;
    color: #ffffff;
    padding: 4px 5px;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 4px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #006699;
  color: white;
  font-size: 11px;
}
    #customer {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customer td, #customer th {
  border: 1px solid #ddd;
  padding: 0px;
}

#customer tr:nth-child(even){background-color: #f2f2f2;}

#customer tr:hover {background-color: #ddd;}

#customer td {
  padding: 5px; 
  text-align: left;
  font-size: 14px;
}
.alertboxes{
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-15%, -50%);
    z-index: 9999;

}
.filter{
    display: flex;
  float:left;
}
    .filter span {
        margin: 20px 0px 0px 20px;
        font-weight:bold;
    }
       .filter select {
        margin-bottom:15px;
    }
.filter .form-control{
    margin-top: 16px;
    margin-left: 5px;
}
.filterbtn{
    margin-top: 15px;
    display: flex;
    float:right;
}
.filterbtn input{
    height: 30px!important;
    line-height: 20px;
    margin-right: 5px;
}
.pagination a {
  color: black;
  float: left;
  padding: 5px 26px;
  font-size:18px!important;
  border: 1px solid lightgray;
  text-decoration: none;
}
.paginum{
    font-size:14px!important;
}
.pagination span{
    margin-top: 9px;
}
.size-drop{
    text-align: center;
        margin-top: 10px
}




